<div class="p-3 pt-5 border border-top-0 border-2">
  <form action="/" method="POST" class="d-flex align-items-end gap-3 mb-5">
    <div>
      <label for="itemUrl" class="form-label"
        ><strong>Steam Market Item URL</strong></label
      >
      <input
        type="text"
        name="itemUrl"
        id="itemUrl"
        class="form-control bg-dark border border-2 border-dark-subtle text-white"
        value=""
        required
      />
    </div>
    <div>
      <label for="quantity" class="form-label"><strong>Quantity</strong></label>
      <input
        type="number"
        min="1"
        name="quantity"
        id="quantity"
        class="form-control bg-dark border border-2 border-dark-subtle text-white"
        value="0"
        required
      />
    </div>
    <div>
      <label for="buyPrice" class="form-label"
        ><strong>Buy Price</strong></label
      >
      <input
        type="number"
        step="0.01"
        min="1"
        name="buyPrice"
        id="buyPrice"
        class="form-control bg-dark border border-2 border-dark-subtle text-white"
        value="0.00"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">
      <i class="bi bi-plus-circle-fill"></i>
    </button>
  </form>
</div>
