<div
  class="mb-5 border border-top-0 border-2 border-dark-subtle d-flex gap-5 ps-3 pe-3 p-5"
>
  <h5>
    Total Spent:
    <span class="bg-white text-dark ps-1 pe-1"> <%= totalSpent %></span>
  </h5>
  <% if(totalProfit >totalSpent) { %>
  <h5>
    Total Profit:
    <span class="bg-success ps-1 pe-1"><%= totalProfit %></span>
  </h5>
  <% } else if(totalProfit === totalSpent) { %>
  <h5>Total Profit: <%= totalProfit %></h5>
  <% } else { %>
  <h5>
    Total Profit:
    <span class="bg-danger ps-1 pe-1"><%= totalProfit %></span>
  </h5>
  <% }; %>
</div>
